<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gemini AI</title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >
</head>

<body>

    <main>
        <h1>Gemini AI</h1>

        <textarea
            id="prompt"
            placeholder="Promptunuzu daxil edin..."
        ></textarea>

        <button id="send-button">
            Göndər
        </button>

        <section>
            <h2>Cavab</h2>

            <div id="response">
                Cavab burada görünəcək.
            </div>
        </section>
    </main>

    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/script.js"></script>

</body>
</html>